@model task1.Models.Student

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <table class="table table-striped-columns" style="color:white">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="St_Id" class="control-label"></label>
                <input asp-for="St_Id" class="form-control" />
                <span asp-validation-for="St_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="St_Fname" class="control-label"></label>
                <input asp-for="St_Fname" class="form-control" />
                <span asp-validation-for="St_Fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="St_Lname" class="control-label"></label>
                <input asp-for="St_Lname" class="form-control" />
                <span asp-validation-for="St_Lname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="St_Address" class="control-label"></label>
                <input asp-for="St_Address" class="form-control" />
                <span asp-validation-for="St_Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="St_Age" class="control-label"></label>
                <input asp-for="St_Age" class="form-control" />
                <span asp-validation-for="St_Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dept_Id" class="control-label"></label>
                <input asp-for="Dept_Id" class="form-control" />
                <span asp-validation-for="Dept_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="St_super" class="control-label"></label>
                <select asp-for="St_super" class ="form-control" asp-items="ViewBag.St_super"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div></table>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
