#packman {
        width: 0px;
        height: 0px;
        border-right: 60px solid transparent;
        border-top: 60px solid red;
        border-left: 60px solid red;
        border-bottom: 60px solid red;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
 }

 #packman:hover{
    animation-name: anim;
    animation-duration: 0.5s;
    animation-iteration-count: 10;
 }
    
 @keyframes anim {
    from{
        border-right: 60px solid transparent;
    }

    to{
        border-right: 60px solid red;
        
    }
 }