<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">task1</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView>
            <Authorized>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="Trainees">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Trainees
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="Tracks">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Tracks
            </NavLink>
        </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="JSInterop">
                <span class="oi oi-list-rich" aria-hidden="true"></span> JSInterop
            </NavLink>
        </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="TryCustomComponent">
                <span class="oi oi-list-rich" aria-hidden="true"></span> TryCustomComponent
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="identity/account/logout">
                <span class="oi oi-list-rich" aria-hidden="true"></span> LogOut
            </NavLink>
        </div>
        </Authorized>
        <NotAuthorized>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="identity/account/register">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Register
            </NavLink>
        </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="identity/account/login">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Login
            </NavLink>
        </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="identity/account/logout">
                <span class="oi oi-list-rich" aria-hidden="true"></span> LogOut
            </NavLink>
        </div>
        </NotAuthorized>
    </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
