
      ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #848383;
        justify-content: space-around;
      }
      /* li { */
        /* display: flex; */
        /* float: left; */
        /* margin-inline-start: 10%;
        margin-inline-end: 10%; */
        /* flex-wrap: wrap; */
      /* } */

      a {
        text-align: center;
        padding: 5px;
        color: aliceblue;
      }

      li a:hover {
        background-color: #111;
      }
      .content {
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        gap: 10px;
        width: 100%;
      }

      .c1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #111;
        justify-content: space-between;

        width: 50%;
      }
      .c2 {
        display: flex;
        flex-direction: column;
        border: 1px solid #111;
        justify-content: space-between;

        width: 50%;
        text-align: center;
        align-items: center;
      }

      footer {
        background-color: #b8b7b7;
        color: aliceblue;
        align-self: flex-end;
        width: 100%;
        text-align: center;
      }

      @media (max-width: 600px) {
        ul{
          display: flex;
          flex-direction: column;
          align-items: center;
          
        }
        li {
          /* flex-direction: column; */
          /* width: 100%; */
          margin: 5px;
          /* margin-inline-start: 0%;
          margin-inline-end: 0%; */
        }
        .content {
          flex-direction: column;
        }
        .c1 {
          display: flex;
          flex-direction: column;
          width: 100%;
        }
        .c2 {
          display: flex;
          flex-direction: column;
          width: 100%;
        }
      }
  