<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
   
        <h1>There Is No Orders</h1>
        <div class="alert alert-danger" role="alert">
            <table class="table table-hover table-dark">
                <tr>
                    <th>Error Message</th>
                   
                </tr>
                <td>This Client Does Not Have Any Order </td>

            </table>


        </div>
  
</body>
</html>
