button{
    position: absolute;
    left: 45%;
    margin-top: 20%;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    font-size: medium;
    transition: all 2s;
    
}

button:hover{
    animation-name: anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    box-shadow: -10px -10px 10px rgb(239, 155, 232);
    background-color: rgb(244, 184, 244);
    cursor: pointer;
}
