@model task1.Models.Course

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <table class="table table-striped-columns" style="color:white">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Crs_Id" class="control-label"></label>
                <input asp-for="Crs_Id" class="form-control" />
                <span asp-validation-for="Crs_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crs_Name" class="control-label"></label>
                <input asp-for="Crs_Name" class="form-control" />
                <span asp-validation-for="Crs_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crs_Duration" class="control-label"></label>
                <input asp-for="Crs_Duration" class="form-control" />
                <span asp-validation-for="Crs_Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Top_Id" class="control-label"></label>
                <input asp-for="Top_Id" class="form-control" />
                <span asp-validation-for="Top_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    </table>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
