

<nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
    <div class="container">
    <div class="text-center" id="collapsibleNavId">
      <ul class="navbar-nav text-center mt-2 mt-lg-0">
        <li class="nav-item">
          <a  class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/add" >Add Student</a>
        </li>
        
      </ul>
    </div>
  </div>
  </nav>