body{
    background-color: rgb(15, 15, 15);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 96vh;
    flex-wrap: wrap;
}

#r{
    color: rgb(244, 7, 7);
}

#b{
    color: blue;
}

#g{
    color: green;
}

#parent{
    width:750px;
    height: 450px;  
   
}
input{
    margin-left: 40%;
}

#parag{
    margin-left: 20%;
}

